<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Attractions in Hong Kong</title>
    <body>
        <h1>Attractions in Hong Kong</h1>
        <div class="attraction">
            <h2>Preface </h2>
            <p><strong>Description:</strong> Preface uses AI and Machine Learning to match learners with instructors and personalized course materials. Our educators and support team would then use the data insights to inspire and engage students in their most personally relevant way.            </p>
            <p><strong>Tips:</strong> Learning code should be a series of self-discoveries and aha-moments, and Preface is here to make this work for everyone with technology.</p>
            <p><strong>Location:</strong> Latitude: 22.281684683994804, Longitude: 114.183924895871</p>

                <img src="https://res.cloudinary.com/preface/image/upload/w_1024,c_limit,f_auto/v1633826301/r2021/assets/images/preface-coffee-wine/Preface_HQ_Storefront.jpg" alt="HQ" width="600">
                <img src="https://media.licdn.com/dms/image/v2/D5622AQFOv71i1Vc0WQ/feedshare-shrink_800/B56ZRvnj_hG8Ag-/0/1737039432654?e=2147483647&v=beta&t=J8wK8OmgK_HGpvae5i0UAQw8yOQYcBLDoix3zC3UM_k" alt="tommie" width="600">
                <img src="https://media.licdn.com/dms/image/v2/D5622AQHRIamw5V1-4g/feedshare-shrink_800/B56ZSXEN3MHwAg-/0/1737701271237?e=2147483647&v=beta&t=UtJk4bsyFAE32gvX0UpmEDRR_J2LaggSdvTBsn5ktKo" alt="kelvin" width="600">

                <br />
                <a href="/"> < Back</a>
                <a href="https://translate-hk.vercel.app/">
                    <img src="/static/images/marcus-cheung-robot-dog.png" width="100" style="float: right;">
                </a>
    </div>
</body>
</html>