<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">

    <title>Attractions in Hong Kong</title><body>
        <h1>Attractions in Hong Kong</h1>
        <div class="attraction">
            <h2>The Wong Tai Sin Temple </h2>
            <p><strong>Description:</strong> Wong Tai Sin Temple is a famous religious site in Hong Kong, dedicated to the deity Wong Tai Sin, known for granting wishes and good fortune. The temple features stunning traditional Chinese architecture, with intricate carvings and vibrant gardens. Visitors can witness various rituals, such as incense burning and fortune telling, creating a lively atmosphere. </p>
            <p><strong>Tips:</strong> To fully enjoy your visit, go early in the morning for a quieter experience and take time to explore the peaceful surrounding gardens. Wong Tai Sin Temple is a significant cultural landmark and offers a fascinating glimpse into local traditions and spirituality.</p>
            <p><strong>Location:</strong> Latitude: 22.34270583288551, Longitude: 114.19329038240161</p>

                <img src="https://www.gohk.gov.hk/uploads/photo/1635842874.jpg" alt="Wong Tai Sin Temple" width="600">
                <img src="https://www.introducinghongkong.com/f/china/hong-kong/guia/templo-wong-tai-sin-m.jpg" alt="Tai O fishing village" width="600">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/4b/69/a4/photo3jpg.jpg?w=900&h=500&s=1" alt="Tai O fishing Village" width="600">
                <br />
                <a href="/"> < Back</a>
        </div>

</body>
</html>